$theme-colors: (
    "primary": rgba(37, 8, 99, 1),
    "secondary": rgba(158, 158, 158, 1),
    "success": rgba(11, 193, 94, 1),
    "info": rgba(17, 223, 208, 1),
    "warning": rgba(198, 223, 17, 1),
    "danger": rgba(213, 47, 20, 1),
    "light": rgba(243, 243, 243, 1),
    "dark": rgba(39, 39, 39, 1)
);

$font-family-sans-serif: "Comic Sans MS", sans-serif;

$body-bg: rgba(62, 62, 62, 1);

